@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    background-color: #333341;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25pt;
}

.top {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    /* position: absolute; */

    padding: 2%;
    min-height: 5vh;

    border-style: solid;
    border-width: 0px 0px 5px 0px;
}

.bottom{
    padding: 2%;
}