* {
    border: none;
    background-color: #333341;
    color: white;
}

form {
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1.2fr;
}

.skills {
    display: grid;
}

.card {
    padding: 5px;
    margin-top: 30vh;
    margin-left: 15vw;

    width: 70vw;
    border-style:solid;
    border-radius: 5px; 
    border-width: 0px 3px 5px 0.1px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
}

input, textarea {
    font-size: 25pt;
}