<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SH | Home</title>

    <link th:href="@{../css/home.css}" href="../static/css/home.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="http://localhost:8080/img/favicon.png" />
</head>
<body>
    <section class="user-card" th:object="${client}">
        <section class="top">
            <image src="http://localhost:8080/img/logo.png" class="softhelp"></image>
            <section>
                <h2 th:text="${client.firstName}">username</h2>
                <h4 th:text="${client.email}">email</h4>
            </section>
            <a href="/my-projects" class="skillage">My projects page.</a>
        </section>
        <section class="bottom" th:text="${client.description}">Description</section>
    </section>

    <section class="cards">
        <section class="small-card" th:each="project : ${projects}">
            <a th:href="@{/project/__${project.projectId}__}">
                <p class="main-text" th:text="${project.description}">Name</p>
                <p class="sub-text" th:text="${project.skill.name}">Skill</p>
                <section class="footer">
                    <p th:text="${project.user.firstName}">Client</p>
                    <p th:text="${project.price}">Price</p>
                </section>
            </a>
        </section>
        <section class="small-card">
            <a th:href="${projects.size} < 5 ? '#' : '/all-projects'"
            th:text="${projects.size} == 5 ? 'Load more projects..' : 'No projects available for your listed skills.'">
            Load more projects
            </p>
        </section>
    </section>
</body>
</html>