<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soft Help::Login</title>
</head>
<body>
    <form action="/home" th:action="@{/home}" th:object="@{client}" method="POST">
        <div>
            <p>First Name: <input type="text" th:field="*{firstName}" placeholder="John"/> </p>
        </div>

        <div>
            <p>Last Name: <input type="text" th:field="*{lastName}" placeholder="Doe"/> </p>
        </div>

        <div>
            <p>Email: <input type="text" th:field="*{email}" placeholder="JohnDoe@whoisthatdudemara.com"/> </p>
        </div>
        <input type="submit" value="Login" />
    </form>
</body>
</html>