<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="1030224190019-6avfr0nal5ksalj68f51agrrnsuvmhnr.apps.googleusercontent.com">
    <title>SoftHelp - Landing page</title>
</head>
<body>
    <h1>Hi, Stranger</h1>
    <p>Welcome to SoftHelp,  the site for Software Assistance and stuff.</p>
    <p>More info will go here. Or something</p>
    <!--  Currently not needed  -->
<!--    <form action="/sign-in" method="POST" th:action="@{/sign-in}">-->
<!--        <input type="text" name="email" placeholder="Email Address"/>-->
<!--        <input type="submit" value="loginBIIIIIH"/>-->
<!--    </form>-->
    <br />

    <!--  NOW we get the login button  -->

    <!--

    <div id="my-signin2"></div>
    <script>
        function onSuccess(googleUser) {
          console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }
        function onFailure(error) {
          console.log(error);
          document.write("WTF Bruh?!");
        }
        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
          });
        }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    -->

    <a href="127.0.0.1:8080/sign-in">Sign in using Google</a>

</body>
</html>